**/bin/
**/obj/
**/node_modules/
**/coverage/
**/.vite/
artifacts/
src/Umbraco.VercelAnalytics/wwwroot/App_Plugins/
samples/Umbraco.VercelAnalytics.Example/umbraco/Data/
samples/Umbraco.VercelAnalytics.Example/umbraco/Logs/
samples/Umbraco.VercelAnalytics.Example/wwwroot/App_Plugins/
samples/Umbraco.VercelAnalytics.Example/appsettings-schema.json
*.db
*.db-shm
*.db-wal
.DS_Store
.env
.env.*
!.env.example
*.pem
*.key
.idea/
.vs/
